@charset "UTF-8";

/*! fuse formerly thinkingphones 2016 */

.hbspt-form {
  width: 100%;
  margin: 0 auto;
  font-size: 0;
}

.hs-form {
  width: 100%;
  font-size: 0;

  .field {
    max-width: inherit !important;

    .hs-form-field {
      margin: 0 0 15px;
    }

    &.form-columns-1 {

      .input {
        margin: 0 !important;
      }
    }

    .hs-input {
      width: 100% !important;
      height: 46px;
      padding: 2px 20px 0;
      border: 1px solid #fff;
      @include prefix(border-radius, 5px);
      background: #fff;
      @include font-size(16, 32);
      text-decoration: none;
      font-style: normal;
      color: #666;
    }

    textarea.hs-input {
      height: 100px;
    }
  }

  .hs-button {
    display: block;
    width: 100%;
    padding: 10px 14px;
    position: relative;
    border: 1px solid #fff;
    @include prefix(border-radius, 5px);
    @include font-size(16, 32);
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    border: 1px solid #6b3586;
    background: #6b3586;
    color: #fff;
  }

}

.hs-form-field {

  label {
    display: inline-block;
    margin-bottom: 5px;
    @include font-size(16, 32);
    color: #69696e;
  }
}

.hs-error-msgs {

  li {
    label {
      display: inline-block;
      margin: 0;
      @include font-size(16, 32);
      color: #ff0000;
    }
  }
}